.root {
    display: flex;
    justify-content: space-between;
}

.details {
    justify-content: center;
    align-self: center;
    min-width: 50%;
    padding: 1rem;
}

.playlist {
    margin: 0 .5rem;
}

.active {
    color: #2e8555;
}

.item:hover {
    cursor: pointer;
    color: #3cad6e
}