.overflow-y-scroll {
    overflow-y: scroll;
    /* 垂直方向溢出时显示滚动条 */
}

.h-80 {
    height: 20rem;
    /* 高度为80个单位 */
}

.cursor-pointer {
    cursor: pointer;
    /* 鼠标悬停时显示为指针形状 */
}

.p-1 {
    padding: 0.25rem;
    /* 内边距为1个单位 */
}

.font-thin {
    font-weight: 100;
    /* 字体细 */
}

.text-xs {
    font-size: 0.75rem;
    /* 文本尺寸为极小 */
}

.hover\:text-blue-400:hover {
    color: #4299e1;
    /* 悬停时文本颜色为蓝色 */
}

.text-blue-400 {
    color: #4299e1;
    /* 文本颜色为蓝色 */
}

.text-lg {
    font-size: 1.25rem;
    /* 文本尺寸为大 */
}

.subtitle-container {
    display: flex;
    flex-direction: row;
    padding: 16px;
}

.item {
    flex: 1;
}

.item>video {
    max-width: 100%;
}

.item:last-child {
    max-width: 50%;
    margin-left: 1.25rem;
    flex: 1;
    border: 1px solid #ccc;
}

.item>ul {
    margin: .75rem;
    padding: 0;
    width: fit-content;
    max-width: 100%;
}

.item>ul>li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.item button:hover {
    background-color: #39a7f1;
    color: #fff;
}

.subtitle-text {
    display: inline-flex;
    justify-content: space-between;
}

.item button {
    display: none;
    padding: 4px 10px;
    font-size: 13px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #3498db;
    color: #3498db;
    border-radius: 5px;
    cursor: pointer;
}

.item li:hover>button {
    display: inline-block;
}

span.p-1 {
    user-select: none;
}

@media screen and (orientation:portrait) {
    .item>ul {
        height: 25rem;
    }

    .item:last-child {
        margin-left: 0;
        margin-top: 2rem;
        max-width: 100%;
    }

    .subtitle-container {
        flex-direction: column;
    }
}